extends layout

block content
    h1= title 
    p welcome to #{title}
    form(action="/landing", method="POST")
        input(name="email", type="email", placeholder="PLease enter a valid email address")
        button(type="submit") Submit 